body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Indie Flower", cursive;
  font-style: normal;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute; /* Ensures the container fills the viewport */
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 2;
}

#particles-js {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("Assests/flowers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

#countdown {
  font-size: 8vh;
  color: aliceblue;
  margin: 0;
  text-shadow: 4px 2px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
} 



.neon-btn a {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
  margin-right: 10px;
  font-size: 4vh;
}

.neon-btn a:hover {
  background: #03e9f4;
  color: #ffffff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


.neon-btn a span {
  position: absolute;
  display: block;
}

.neon-btn a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: neon-btn-animate1 1s linear infinite;
}

@keyframes neon-btn-animate1 {
  0% {
      left: -100%;
  }

  50%,
  100% {
      left: 100%;
  }
}

.neon-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: neon-btn-animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes neon-btn-animate2 {
  0% {
      top: -100%;
  }

  50%,
  100% {
      top: 100%;
  }
}

.neon-btn a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: neon-btn-animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes neon-btn-animate3 {
  0% {
      right: -100%;
  }

  50%,
  100% {
      right: 100%;
  }
}

.neon-btn-10 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
      bottom: -100%;
  }

  50%,
  100% {
      bottom: 100%;
  }
}



