body {
    background-color: #4eaebe; /* Change the background color to your desired color */
    color: #fff;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-style: normal;
}

#countdown {
    font-size:300%;
    margin-top: 180px;
}

#redirectBtn {
    font-family: "Indie Flower", cursive; /* Change the font family */
    font-size: 2rem;
    background-color: #4CAF50; /* Green background color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#redirectBtn:hover {
    background-color: #c78926; /* Darker green background color on hover */
}

#redirectBtn:disabled {
    background-color: #4b9aa8; /* Grey background color when disabled */
    cursor: not-allowed;
}
